.catalog {
  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  &__items {
    text-align: center;
    margin-bottom: 45px;
  }

  
  &__item {
    margin: 0 auto;
    max-width: 250px;
    border: 3px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &__item-img {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
  }

  &__item-title {
    font-size: 18px;
    color: #8e0000;
    margin-bottom: 25px;
  }

  &__item-text {
    padding: 0 30px;
    margin-bottom: 40px;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
  }
  
  &__item-btn {
    margin-bottom: 30px;
  }

  &__item-link {
    font-size: 17px;
    font-weight: 700;
    color: #444444;

    &--active {
      color: #06811a;
    }
  }

  &__item-link:hover {
    color: #06811a;
  }

  &__item-img-set {
    width: 250px;
    height: 330px;
  }

  &__item-border {
    border:none;
  }
}