.footer {
  &__inner {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__title {
    margin-right: 5px;
  }

  &__text,
  &__year {
    font-size: 16px;
  }

  &__year {
    font-weight: 700;
  }

}