html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

*,*::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, 
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

p {
  margin: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}