.top {
  &__inner {
    text-align: center;
    padding-top: 35px;
  }

  &__title {
    margin: 0 10px 30px 10px;
    
  }

  &__title-text {
    font-size: 20px;
    font-weight: 700;
  }

  &__subtitle {
    margin: 0 10px 40px 10px;
  }
}